.confom {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.conform {
  position: absolute;
  top: 797px;
  left: 170px;
  border-radius: var(--br-8xs);
  background-color: var(--buttons);
  width: 244px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-lg);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: var(--white);
}
.image-2-icon {
  position: absolute;
  top: 484px;
  left: 539px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.cnformpass {
  width: 314px;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.johndoegmailcom10 {
  width: 314px;
  position: relative;
  line-height: 24px;
  display: none;
}
.conformpass,
.input10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input10 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1.5px solid var(--body);
  padding: var(--padding-base);
  font-size: var(--input-labels-size);
}
.conformpass {
  position: absolute;
  top: 456px;
  left: 0;
  width: 583px;
  gap: 8px 0;
}
.image-1-icon {
  position: absolute;
  top: 348px;
  left: 539px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.password2 {
  position: absolute;
  top: 320px;
  left: 0;
  width: 583px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px 0;
}
.charter-at {
  margin: 0;
  white-space: pre-wrap;
}
.character {
  margin: 0;
}
.charter-at-least-container,
.password4 {
  position: absolute;
  left: 0;
  line-height: 20px;
  display: inline-block;
  color: var(--color-black);
}
.charter-at-least-container {
  top: 243px;
  width: 628px;
  height: 21px;
}
.password4 {
  top: 112px;
  font-size: var(--font-size-29xl);
  width: 231px;
}
.logo-icon8,
.password1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
}
.password1 {
  top: 56px;
  left: 670px;
  width: 628px;
  height: 853px;
}
.img-icon2 {
  width: 618px;
  position: relative;
  height: 1024px;
  object-fit: cover;
}
.image-sidebar2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.password {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--titles);
  font-family: var(--input-labels);
}
