.wolf-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-peru);
  width: 1440px;
  height: 73px;
}
.logo-icon6 {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 46.5px;
  height: 41.1px;
}
.home4 {
  position: absolute;
  top: 18px;
  left: 84px;
  cursor: pointer;
}
.about3,
.profile-icon4,
.stories5 {
  position: absolute;
  top: 19px;
  left: 307px;
}
.profile-icon4,
.stories5 {
  left: 190px;
  cursor: pointer;
}
.profile-icon4 {
  height: 5.29%;
  width: 3.88%;
  top: 1.02%;
  right: 0.39%;
  bottom: 93.69%;
  left: 95.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.the-boy-who {
  position: absolute;
  top: calc(50% - 404px);
  left: 444px;
  font-size: var(--font-size-37xl);
  color: var(--white);
}
.wolf-1-icon {
  position: absolute;
  top: 208px;
  left: 60px;
  border-radius: var(--br-21xl);
  width: 587px;
  height: 344px;
  object-fit: cover;
}
.once-there-was {
  margin: 0;
}
.later-the-shepherd-container,
.once-there-was-container {
  position: absolute;
  top: 216px;
  left: 691px;
  font-size: var(--font-size-11xl);
  color: var(--white);
  display: inline-block;
  width: 697px;
}
.later-the-shepherd-container {
  top: 601px;
  left: 60px;
  width: 1335px;
  height: 470px;
}
.wolf {
  width: 1263.58px;
  position: relative;
  background-color: var(--color-sienna);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-snow);
  font-family: var(--font-imprima);
}
.the-moral2 {
  position: absolute;
  top: 767px;
  left: 60px;
  font-size: var(--font-size-29xl);
